* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(124.53deg, #FC3F5F 0%, #7D61FF 100.32%);
    padding: 95px;
}

.container {
    background: linear-gradient(180deg, rgba(43, 34, 21, 0.8) -1.22%, #22282E 101.33%);
    box-shadow: 0px 0px 250px rgba(0, 0, 0, 0.3);
    border-radius: 32px;
    max-width: 1440px;
    width: 100%;
    margin-inline: auto;
}

/* header */

.header {
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo, 
.header__download {
    min-width: 180px;
}

.header__download {
    text-align: right;
}

.header__nav ul {
    padding-left: 0;
    display: flex;
    gap: 64px;
}

.header__nav li {
    list-style: none;
}

.header__nav a {
    list-style: none;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #A0A3A7;
    text-decoration: none;
}

.header__nav a:hover {
    text-decoration: underline;
    color: orange;
    
}

.header__btn {
    display: inline-block;
    padding: 16px 24px;
    background: #E1E1E1;
    box-shadow: 0px 4px 50px rgba(37, 37, 37, 0.08), inset 1px 1px 1px rgba(135, 135, 135, 0.32);
    border-radius: 999px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #24282E;
    text-decoration: none;
    transition: .2s all ease-in-out;
}

.header__btn:hover {
    background: #333;
    color: #FFF;
}

/* header end */

/* main */

.main {
    text-align: center;
    padding: 180px 20px 161px 20px;
}

.main__title {
    max-width: 600px;
    width: 100%;
    margin: 0;
    margin-inline: auto;
    font-weight: 400;
    font-size: 72px;
    line-height: 108px;
    text-align: center;
    color: #F2F4F7;
    margin-bottom: 32px;
    transition: .2s all ease-in-out;
}

.main__title:hover {
    color: orange;
}

.mail__description {
    max-width: 600px;
    width: 100%;
    margin: 0;
    margin-inline: auto;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #F2F4F7;
    margin-bottom: 80px;
}

.main__btn {
    display: inline-block;
    border: 2px solid #FC40F4;
    border-radius: 999px;
    padding: 16px 32px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FC40F4;
    text-decoration: none;
    min-width: 240px;
    margin-bottom: 64px;
    transition: .2s all ease-in-out;
}

.main__btn:hover {
    transform: translateY(-10px);
    color: orange;
    border: 4px solid orange
}

.main__icons {
    display: flex;
    gap: 32px;
    padding: 16px;
    justify-content: center;
}

/* main end */

.header .material-icons {
    color: #FFF;
    font-size: 32px;
}

input {
    display: none;
}

label {
    display: none;
}


/* adaptation for tablet */

@media (max-width: 992px){

    .header__download {
        display: none;
    }

    .main {
        padding-top: 50px;
    }

    .main__title {
        font-size: 24px;
        line-height: 36px;
    }

    .mail__description {
        font-size: 16px;
        line-height: 21px;
    }
}

/* adaptation for tablet end*/

/* adaptation for mobile phone */

@media (max-width: 700px){

    body {
        padding: 20px;
    }

    label {
        display: block;
    }

    .header__nav {
        text-align: center;
        position: fixed;
        padding-top: 100px;
        top: 0;
        left: 0;
        width: 150px;
        height: 100%;
        background: #333;
        transform: translateX(-200%);
        transition: .3s all ease-in-out;
    }

    .header__nav ul {
        flex-direction: column;
    }

    input:checked~.header__nav {
        transform: translateX(0);
    }
}

/* adaptation for mobile phone end*/